main {
  padding: 10px 20px 10px 50px;
  background-image: url("../src/linedpaper.png");
  color: #2c3e50;
  background-repeat: round repeat; }

.my_pr {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  color: #2c3e50;
  gap: 50px 20px;
  margin-bottom: 50px; }
  .my_pr div:nth-child(odd) {
    font-size: 18px; }
  .my_pr div:nth-child(even) {
    font-size: 15px;
    font-weight: 300; }
  .my_pr div:first-child {
    font-size: 30px; }
  .my_pr div:nth-child(1),
  .my_pr div:nth-child(2) {
    display: flex;
    align-items: center; }
  .my_pr div:nth-child(2) hr {
    width: 100%; }
  .my_pr div span {
    font-size: 13px; }

.my_pr2 {
  color: #2c3e50;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 30px 30px; }
  .my_pr2 .skill div:first-child {
    font-size: 25px; }
  .my_pr2 .skill i {
    margin-right: 5px; }
  .my_pr2 .skill ul {
    padding: 0px 15px; }
    .my_pr2 .skill ul li {
      margin: 5px 5px; }
  .my_pr2 .Portforlios div:first-child {
    font-size: 25px; }
  .my_pr2 .Portforlios i {
    margin-right: 5px; }
  .my_pr2 .Portforlios ul {
    padding: 0px 15px; }
    .my_pr2 .Portforlios ul li {
      margin: 5px 5px; }
    .my_pr2 .Portforlios ul li:nth-child(2),
    .my_pr2 .Portforlios ul li:nth-child(5) {
      margin-left: 20px;
      font-size: 15px;
      font-weight: 300; }
    .my_pr2 .Portforlios ul a {
      display: block;
      margin-left: 20px;
      margin-top: 15px;
      margin-bottom: 15px; }
  .my_pr2 .hobby i {
    margin-right: 5px; }
  .my_pr2 .hobby div:first-child {
    font-size: 25px; }
  .my_pr2 .hobby ul {
    padding: 0px 15px; }
    .my_pr2 .hobby ul li {
      margin: 10px 5px; }
  .my_pr2 .strength i {
    margin-right: 5px; }
  .my_pr2 .strength div:first-child {
    font-size: 25px; }
  .my_pr2 .strength ul {
    padding: 0px 15px; }
    .my_pr2 .strength ul li {
      margin: 10px 5px; }

.last {
  margin-top: 40px;
  width: 100%;
  height: 140%;
  background-image: url("../src/linedpaper.png"); }
  .last .last_title {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    color: #2c3e50;
    gap: 50px 20px;
    font-size: 30px; }
  .last .ment {
    margin-top: 30px; }
    .last .ment span {
      font-weight: 300; }
