html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  color: #2c3e50;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px; }
  header .profile_L {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center; }
    header .profile_L .pic {
      background-image: url("../src/me_1.jpg");
      background-size: cover;
      background-position: bottom;
      width: 140px;
      height: 140px;
      border-radius: 100px; }
    header .profile_L .name {
      margin-left: 20px;
      display: flex;
      flex-direction: column; }
      header .profile_L .name span {
        font-family: "Oswald", sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 10px 0px; }
      header .profile_L .name .japan {
        font-size: 30px;
        font-family: "Noto Sans JP", sans-serif; }
  header .profile_R {
    margin-top: 15px;
    width: 35%;
    height: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 4fr;
    gap: 15px 40px;
    grid-template-rows: repeat(3, 30px); }
    header .profile_R span:nth-child(odd) {
      text-align: right; }

main {
  padding: 10px 20px 10px 50px;
  background-image: url("../src/linedpaper.png");
  color: #2c3e50;
  background-repeat: round repeat; }

#part1 {
  margin-top: 30px; }

.my_pr {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  color: #2c3e50;
  gap: 45px 20px;
  margin-bottom: 50px; }
  .my_pr div:nth-child(odd) {
    font-size: 18px; }
  .my_pr div:nth-child(even) {
    font-size: 15px;
    font-weight: 300; }
  .my_pr div:first-child {
    font-size: 30px; }
  .my_pr div:nth-child(1),
  .my_pr div:nth-child(2) {
    display: flex;
    align-items: center; }
  .my_pr div:nth-child(2) hr {
    width: 100%; }
  .my_pr div span {
    font-size: 13px; }

.my_pr2 {
  color: #2c3e50;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 15px 30px; }
  .my_pr2 .skill div:first-child {
    font-size: 25px; }
  .my_pr2 .skill i {
    margin-right: 5px; }
  .my_pr2 .skill ul {
    padding: 0px 15px; }
    .my_pr2 .skill ul li {
      margin: 5px 5px; }
  .my_pr2 .Portforlios div:first-child {
    font-size: 25px; }
  .my_pr2 .Portforlios i {
    margin-right: 5px; }
  .my_pr2 .Portforlios ul {
    padding: 0px 15px; }
    .my_pr2 .Portforlios ul li {
      margin: 5px 5px; }
    .my_pr2 .Portforlios ul li:nth-child(2),
    .my_pr2 .Portforlios ul li:nth-child(5) {
      margin-left: 20px;
      font-size: 15px;
      font-weight: 300; }
    .my_pr2 .Portforlios ul a {
      display: block;
      margin-left: 20px;
      margin-top: 15px;
      margin-bottom: 15px; }
  .my_pr2 .hobby i {
    margin-right: 5px; }
  .my_pr2 .hobby div:first-child {
    font-size: 25px; }
  .my_pr2 .hobby ul {
    padding: 0px 15px; }
    .my_pr2 .hobby ul li {
      margin: 10px 5px; }
  .my_pr2 .strength i {
    margin-right: 5px; }
  .my_pr2 .strength div:first-child {
    font-size: 25px; }
  .my_pr2 .strength ul {
    padding: 0px 15px; }
    .my_pr2 .strength ul li {
      margin: 10px 5px; }

.last {
  margin-top: 30px;
  width: 100%;
  height: 160%;
  background-image: url("../src/linedpaper.png");
  background-repeat: round repeat; }
  .last .last_title {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    color: #2c3e50;
    gap: 50px 20px;
    font-size: 30px; }
  .last .ment {
    margin-top: 30px; }
    .last .ment span {
      font-weight: 300;
      margin-bottom: 20px; }

* {
  box-sizing: border-box; }

body {
  color: #394e64;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  height: 200vh;
  background-image: url("../src/linedpaper.png");
  background-position: top;
  line-height: 25px; }

hr {
  height: 2px;
  background-color: #2c3e50; }

footer {
  width: 100%;
  height: 10vh;
  background-image: url("../src/linedpaper.png"); }
