header {
  width: 100%;
  height: 250px;
  //   background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  .profile_L {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;

    .pic {
      background-image: url("../src/me.jpg");
      background-size: cover;
      background-position: bottom;
      width: 140px;
      height: 140px;
      border-radius: 100px;
    }
    .name {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      span {
        font-family: "Oswald", sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 3px 0px;
      }
      .japan {
        font-size: 30px;
        font-family: "Noto Sans JP", sans-serif;
      }
    }
  }
  .profile_R {
    width: 35%;
    height: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 4fr;
    gap: 20px 40px;
    grid-template-rows: repeat(3, 30px);
    span:nth-child(odd) {
      text-align: right;
    }
  }
}
